body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-right:70px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .menu a:hover {
    text-decoration: underline;
    color: #e64980;
  }
  
  .dropbtn {
    background-color: #ff66b2;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff66b2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e64980; /* Cor rosa mais escura ao passar o mouse */
  }
  
  .menu:hover .dropdown-content {
    display: block;
  }
  